/* --- Forms --- */
label,
.styleAs-label {
  display: block;
  padding: 0 4px;
  @extend .details1;
  font-weight: 600;
  color: $color--body-text--secondary;
  text-transform: uppercase;
  user-select: none;
}

input, textarea, select {
  display: block;
  width: 100%;
  padding: $s8/2 $s8;
  border: none;
  border-bottom: 2px solid transparent;
  border-bottom-color: $color--form-border;
  margin: 0;
  background-color: $color--white;

  transition: border-color .5s;
  touch-action: manipulation;
  -webkit-appearance: none;
  -moz-appearance: none;

  &:focus {
    border-bottom-color: $color--form-highlight;
  }

  &::placeholder {
    color: $color--form-muted-text;
  }

  &:disabled {
    background-color: $color--gray-30;
  }
}

input {
  &.catalog-filter, &.search {
    @include border-radius;
    border: $border--light;
    padding: $s12 $s16;
  }
  &.search {
    + .icon-search {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      color: $color--white;
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      width: 40px;
      background: $color--primary-active;
      @include border-radius;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
}

.searchBar {
  &-icons {
    position: absolute;
    top: 0; right: 0; bottom: 0;
    display: flex;
    align-items: center;
      
    .icon-search, icon-close {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: 40px;            
    }
    .icon-close {
      width: $s20;
      height: $s20;
      margin-right: $s16;
      &::before {
        width: $s20;
        height: $s20;
        background-position: center;
      }
    }
    .icon-search {
      height: 100%;
      color: $color--white;
      background: $color--primary-active;
      @include border-radius;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;      
    }

  }
}

textarea {
  resize: none;
  background: $background-color--extra-light;
  padding: $s10 $s8;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="radio"],
input[type="checkbox"] {
  display: inline-block;
  vertical-align: middle;
  width: auto;
  padding: 0 4px;
  border: none;
  background: none;
  cursor: pointer;

  &::before {
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
    transition: color .3s;
  }

  & + label {
    display: inline-block;
    vertical-align: middle;
    padding-top: 2px;
    padding-bottom: 2px;
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
    margin-bottom: 0;
    color: inherit;
    font-weight: inherit;
    font-size: inherit;
    text-transform: inherit;
    cursor: pointer;
    transition: border-color .5s;
  }
}

input[type="radio"] {
  &::before {
    @extend .icon;
    @extend .icon-radio;
  }

  &:checked::before {
    @extend .icon;
    @extend .icon-radio-checked;
  }
}

input[type="checkbox"] {
  &::before {
    @extend .icon;
    @extend .icon-checkbox;
  }

  &:checked::before {
    @extend .icon;
    @extend .icon-checkbox-checked;
  }

  &.checkbox-success::before {
    color: $color--danger;
  }

  &.checkbox-success:checked::before {
    color: $color--success;
  }
}

input[type="file"] {
  display: flex;
}

select {
  padding-right: 25px;
  background-image:
    linear-gradient(45deg, transparent 50%, $color--form-border 50%),
    linear-gradient(135deg, $color--form-border 50%, transparent 50%);
  background-position:
    calc(100% - 11px) calc(1em - 3px),
    calc(100% - 6px) calc(1em - 3px);
  background-size:
    5px 5px,
    5px 5px;
  background-repeat:
    no-repeat,
    no-repeat;
}

.form-message,
.input-message {
  font-size: map-get($font-size--level, -1);
}

.input-message {
  min-height: 18px;
  padding-left: 4px;
  margin-top: .25rem;
}


// Input Variations
.input-sm {
  padding: 3px 6px;
  font-size: map-get($font-size--level, -1);
}

.input-lg {
  padding: 5px 8px;
  font-size: map-get($font-size--level, 1);
}