/* --- Icons --- */
.icon {
  &::before {
    @include iconPseudo;  
  }  
}

.icon--spaceLeft {
  margin-left: .3em;
}

.icon--spaceRight {
  margin-right: .3em;
}

.icon--spin::before {
  animation: icon--spin 2s infinite linear;
}
@keyframes icon--spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}

.icon--color-muted::before {
  color: $color--body-text--secondary;
}

.icon--color-bright::before {
  color: $color--bright;
}

.icon--color-primary::before {
  color: $color--primary;
}

.icon--color-success::before {
  color: $color--success;
}

.icon--color-danger::before {
  color: $color--danger;
}

.icon-radio::before { content: '\f111'; font-weight: $font-weight--icons-normal; color: $color--primary; font-size: $s24; }
.icon-radio-checked::before { content: '\f192'; font-weight: $font-weight--icons-normal; color: $color--primary;  font-size: $s24;}
.icon-checkbox::before { content: '\f0c8'; font-weight: $font-weight--icons-normal;  color: $color--primary;  font-size: $s24;}
.icon-checkbox-checked::before { content: '\f14a'; font-weight: $font-weight--icons-solid;  color: $color--primary;   font-size: $s24;}
.icon-search::before { content: '\f002'; font-weight: $font-weight--icons-solid; font-size: 20px; }

.icon-check::before { content: '\f058'; font-weight: $font-weight--icons-solid; color: $color--secondary}
.icon-success::before { @extend .icon-check }
.icon-check-circle::before { content: '\f058'; font-weight: $font-weight--icons-normal; color: $color--secondary}


.icon-radio, .icon-radio-checked, .icon-checkbox, .icon-checkbox-checked, .icon-check, .icon-check-circle {
  &--large {
    &::before {
      font-size: $s32;
    }
  }
}

.icon-sort::before { content: '\f0dc'; color: $color--primary; font-size: 16px; }
.icon-sort-up::before { content: '\f0de'; color: $color--primary; font-size: 16px; }
.icon-sort-down::before { content: '\f0dd'; color: $color--primary; font-size: 16px; }
.icon-filter::before { content: '\f0b0'; color: $color--primary;  font-size: 12px; }

.icon-info, .icon-tooltip {
  &::before {
    @include iconPseudo--image;
    width: 14px;
    height: 14px;
    $icon-color: $color--body-text--secondary;
    @import "icons/tooltip.svg";    
  }
  &--primary {
    &::before {
      $icon-color: $color--primary;
      @import "icons/tooltip.svg";    
    } 
  }
  &--active {
    &::before {
      $icon-color: $color--body-text;
      @import "icons/tooltip.svg";    
    }  
  }
  &--disabled, &--disabled:hover, &--disabled:active {
    cursor: normal;
    &::before {
      $icon-color: $background-color--light;
      @import "icons/tooltip.svg";    
    }    
  }
}

.icon-warning {
  &::before {
    @include iconPseudo--image;
    width: 18px;
    height: 18px;
    $icon-color: $color--body-text;
    @import "icons/warning.svg";    
  }
  &--active {
    &::before {
      $icon-color: $color--danger;
      @import "icons/warning.svg";    
    }  
  }
  &--disabled, &--disabled:hover, &--disabled:active {
    cursor: normal;
    &::before {
      $icon-color: $background-color--light;
      @import "icons/warning.svg";    
    }    
  }
}

.icon-alert, .icon-danger {
  &::before {
    @include iconPseudo--image;
    width: 18px;
    height: 18px;
    $icon-color: $color--body-text;
    @import "icons/alert.svg";    
  }
  &--active {
    &::before {
      $icon-color: $color--danger;
      @import "icons/alert.svg";    
    }  
  }
  &--disabled, &--disabled:hover, &--disabled:active {
    cursor: normal;
    &::before {
      $icon-color: $background-color--light;
      @import "icons/alert.svg";    
    }    
  }
}


.icon-account, .icon-profile {
  &::before {
    @include iconPseudo--image;
    width: 24px;
    height: 24px;
    $icon-color: $color--primary;
    @import "icons/account.svg";    
  }
  &--active {
    &::before {
      $icon-color: $color--primary-active;
      @import "icons/account.svg";    
    }  
  }
  &--disabled, &--disabled:hover, &--disabled:active {
    cursor: normal;
    &::before {
      $icon-color: $background-color--light;
      @import "icons/account.svg";    
    }    
  }
}

.icon-edit, .icon-compose {
  &::before {
    @include iconPseudo--image;
    width: 20px;
    height: 20px;
    $icon-color: $color--body-text--secondary;
    @import "icons/compose.svg";    
  }
  &--active {
    &::before {
      $icon-color: $color--body-text;
      @import "icons/compose.svg";    
    }  
  }
  &--disabled, &--disabled:hover, &--disabled:active {
    cursor: normal;
    &::before {
      $icon-color: $background-color--light;
      @import "icons/compose.svg";    
    }    
  }
  &--primary {
    &::before {
      $icon-color: $color--primary;
      @import "icons/compose.svg";    
    }  
    &.icon-compose--active, &:active, &:hover {
      &::before {
        $icon-color: $color--primary-active;
        @import "icons/compose.svg";    
      }
    }
  }
}


.icon-equipment {
  &::before {
    @include iconPseudo--image;
    width: 20px;
    height: 20px;
    $icon-color: $color--primary;
    @import "icons/equipment.svg";    
  }
  &--active {
    &::before {
      $icon-color: $color--primary-active;
      @import "icons/equipment.svg";    
    }  
  }
  &--disabled, &--disabled:hover, &--disabled:active {
    cursor: normal;
    &::before {
      $icon-color: $background-color--light;
      @import "icons/equipment.svg";    
    }    
  }
}

.icon-rewards {
  &::before {
    @include iconPseudo--image;
    width: 18px;
    height: 24px;
    $icon-color: $color--secondary;
    @import "icons/rewards.svg";    
  }
  &--active {
    &::before {
      $icon-color: $color--secondary-active;
      @import "icons/rewards.svg";    
    }  
  }
  &--disabled, &--disabled:hover, &--disabled:active {
    cursor: normal;
    &::before {
      $icon-color: $background-color--light;
      @import "icons/rewards.svg";    
    }    
  }
}

.icon-visible, .icon-password-show {
  &::before {
    @include iconPseudo--image;
    width: 24px;
    height: 24px;
    @import "icons/pswd:show.svg";    
  }
}
.icon-invisible, .icon-password-hide {
  &::before {
    @include iconPseudo--image;
    width: 24px;
    height: 24px;
    @import "icons/pswd:hide.svg";    
  }
}

.icon-list {
  &::before {
    @include iconPseudo--image;
    width: 20px;
    height: 20px;
    @import "icons/list.svg";    
  }
}


.icon-trash {
  &::before {
    @include iconPseudo--image;
    width: 20px;
    height: 24px;
    $icon-color: $color--body-text--secondary;
    @import "icons/trash.svg";    
  }
  &:hover, &:active,&--active {
    &::before {
      $icon-color: $color--body-text;
      @import "icons/trash.svg";    
    }  
  }
  &--disabled, &--disabled:hover, &--disabled:active {
    cursor: normal;
    &::before {
      $icon-color: $background-color--light;
      @import "icons/trash.svg";    
    }    
  }
}

.icon-close { 
  &::before {
    @include iconPseudo--image;
    width: 32px;
    height: 32px;
    $icon-color: $color--body-text--secondary;
    @import "icons/close:enabled.svg";    
  }
  &:hover, &:active,&--active {
    &::before {
      $icon-color: $color--body-text;
      @import "icons/close:active.svg";    
    }  
  }
  &--disabled, &--disabled:hover, &--disabled:active {
    cursor: normal;
    &::before {
      $icon-color: $background-color--light;
      @import "icons/close:enabled.svg";    
    }    
  }
  &--small {
    &::before {
      width: 24px;
      height: 24px;
    }
  }
}


.icon-cart-plus, .icon-plus-circle {
  &::before {
    @include iconPseudo--image;
    width: 30px;
    height: 29px;
    $icon-color: $color--secondary;
    @import "icons/cart:add.svg";    
  }
  &:hover, &:active, &--active {
    &::before {
      $icon-color: $color--secondary-active;
      @import "icons/cart:add.svg";    
    }  
  }
  &--disabled, &--disabled:hover, &--disabled:active {
    cursor: normal;
    &::before {
      $icon-color: $background-color--light;
      @import "icons/cart:add.svg";    
    }    
  }
}

.icon-favorite, .icon-star {
  &::before {
    @include iconPseudo--image;
    width: 19px;
    height: 20px;
    $icon-color: $background-color--light;
    @import "icons/star.svg";

  }
  &:hover, &--favorited {
    &::before {
      $icon-color: $color--primary-active;
      @import 'icons/star.svg';
    }
  }
}

// This mixin shouldn't go in standard mixins so
// it doesn't try to get compiled by the main app
@mixin icon-carousel-chevron {
  &::before { 
    @include iconPseudo--image;
    width: 52px;
    height: 52px;
    @import "icons/carousel:chevron:off.svg";
  }
  &:hover, &:active {
    &::before {
      @import "icons/carousel:chevron:on.svg";
    }
  }
}

.icon-carousel-chevron-right {
  @include icon-carousel-chevron;
}
.icon-carousel-chevron-left {
  @include icon-carousel-chevron;
  &::before {
    transform: rotate(180deg);
  }
}

.icon-chat {
  &::before { 
    @include iconPseudo--image;
    width: 76px;
    height: 76px;
    @import "icons/chat.svg";
  }
}

.icon-arrow {
  &::before { 
    @include iconPseudo--image;
    width: 52px;
    height: 52px;
    $icon-color: $color--secondary;
    @import "icons/arrow.svg";
  }
}



.icon-chevron-right {
  $icon-color: $color--body-text;
  &::before { 
    @include iconPseudo--image;
    width: 27px;
    height: 27px;
    @import "icons/chevron:enabled.svg";
  }
  &:hover::before {
    @import "icons/chevron:active.svg";
  } 
  &--white {
    $icon-color: $color--white;
    &::before {
      @import "icons/chevron:enabled.svg";
    }
    &:hover::before {
      @import "icons/chevron:active.svg";
    }
  }
  &--small {
    &::before {
      width: 20px;
      height: 20px;
    }
  }
}

.icon-print {
  &::before {
    @include iconPseudo--image;
    width: 20px;
    height: 24px;
    $icon-color: $color--body-text;
    @import "icons/print.svg";    
  }
  &--selected {
    &::before {
      $icon-color: $color--primary;
      @import "icons/print.svg";    
    }
  }
  &--active {
    &::before {
      $icon-color: $color--primary-active;
      @import "icons/print.svg";    
    }  
  }
  &--disabled, &--disabled:hover, &--disabled:active {
    cursor: normal;
    &::before {
      $icon-color: $background-color--light;
      @import "icons/print.svg";    
    }    
  }
}


.icon-shop {
  &::before {
    @include iconPseudo--image;
    width: 22px;
    height: 20px;
    $icon-color: $color--body-text;
    @import "icons/shop.svg";    
  }
  &--selected {
    &::before {
      $icon-color: $color--primary;
      @import "icons/shop.svg";    
    }
  }
  &--active {
    &::before {
      $icon-color: $color--primary-active;
      @import "icons/shop.svg";    
    }  
  }
  &--disabled, &--disabled:hover, &--disabled:active {
    cursor: normal;
    &::before {
      $icon-color: $background-color--light;
      @import "icons/shop.svg";    
    }    
  }
}


.icon-cart {
  &::before {
    @include iconPseudo--image;
    width: 22px;
    height: 20px;
    $icon-color: $color--body-text;
    @import "icons/cart.svg";    
  }
  &--selected {
    &::before {
      $icon-color: $color--primary;
      @import "icons/cart.svg";    
    }
  }
  &--active {
    &::before {
      $icon-color: $color--primary-active;
      @import "icons/cart.svg";    
    }  
  }
  &--disabled, &--disabled:hover, &--disabled:active {
    cursor: normal;
    &::before {
      $icon-color: $background-color--light;
      @import "icons/cart.svg";    
    }    
  }
}


.icon-messages {
  &::before {
    @include iconPseudo--image;
    width: 20px;
    height: 15px;
    $icon-color: $color--body-text;
    @import "icons/messages.svg";    
  }
  &--selected {
    &::before {
      $icon-color: $color--primary;
      @import "icons/messages.svg";    
    }  
  }
  &--active {
    &::before {
      $icon-color: $color--primary-active;
      @import "icons/messages.svg";    
    }  
  }
  &--disabled, &--disabled:hover, &--disabled:active {
    cursor: normal;
    &::before {
      $icon-color: $background-color--light;
      @import "icons/messages.svg";    
    }    
  }
}

.icon-orders {
  &::before {
    @include iconPseudo--image;
    width: 20px;
    height: 15px;
    $icon-color: $color--body-text;
    @import "icons/orders.svg";    
  }
  &--selected {
    &::before {
      $icon-color: $color--primary;
      @import "icons/orders.svg";    
    }  
  }
  &--active {
    &::before {
      $icon-color: $color--primary-active;
      @import "icons/orders.svg";    
    }  
  }
  &--disabled, &--disabled:hover, &--disabled:active {
    cursor: normal;
    &::before {
      $icon-color: $background-color--light;
      @import "icons/orders.svg";    
    }    
  }
}

.icon-payments {
  &::before {
    @include iconPseudo--image;
    width: 20px;
    height: 15px;
    $icon-color: $color--body-text;
    @import "icons/payments.svg";    
  }
  &--selected {
    &::before {
      $icon-color: $color--primary;
      @import "icons/payments.svg";    
    }  
  }
  &--active {
    &::before {
      $icon-color: $color--primary-active;
      @import "icons/payments.svg";    
    }  
  }
  &--disabled, &--disabled:hover, &--disabled:active {
    cursor: normal;
    &::before {
      $icon-color: $background-color--light;
      @import "icons/payments.svg";    
    }    
  }
}