/* --- Icons --- */
.icon::before {
  display: inline-block;
  font-family: $font-family--icons;
  font-style: normal;
  font-weight: $font-weight--icons-solid;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon--spaceLeft {
  margin-left: .3em;
}

.icon--spaceRight {
  margin-right: .3em;
}

.icon--spin::before {
  animation: icon--spin 2s infinite linear;
}
@keyframes icon--spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}

.icon--color-dark::before {
  color: $color--body-text;
}

.icon--color-muted::before {
  color: $color--body-text--secondary;
}

.icon--color-bright::before {
  color: $color--bright;
}

.icon--color-primary::before {
  color: $color--primary;
}

.icon--color-info::before {
  color: $color--info;
}

.icon--color-success::before {
  color: $color--success;
}

.icon--color-danger::before {
  color: $color--danger;
}

.icon--color-savings::before {
  color: $color--savings;
}

.icon--color-favorite::before {
  color: $color--quaternary;
}

.icon-menu::before { content: '\f141'; font-weight: $font-weight--icons-solid; }
.icon-close::before { content: '\f00d'; font-weight: $font-weight--icons-solid; }
.icon-notifications::before { content: '\f0f3'; font-weight: $font-weight--icons-solid; }
.icon-comments::before { content: '\f086'; font-weight: $font-weight--icons-solid; }
.icon-settings::before { content: '\f013'; font-weight: $font-weight--icons-solid; }
.icon-profile::before { content: '\f007'; font-weight: $font-weight--icons-solid; }
.icon-loading::before { content: '\f1ce'; font-weight: $font-weight--icons-solid; }

.icon-chevron-up::before { content: '\f077'; font-weight: $font-weight--icons-solid; }
.icon-chevron-down::before { content: '\f078'; font-weight: $font-weight--icons-solid; }
.icon-chevron-left::before { content: '\f053'; font-weight: $font-weight--icons-solid; }
.icon-chevron-right::before { content: '\f054'; font-weight: $font-weight--icons-solid; }

.icon-plus::before { content: '\f067'; font-weight: $font-weight--icons-solid; }
.icon-minus::before { content: '\f068'; font-weight: $font-weight--icons-solid; }

.icon-info::before { content: '\f05a'; font-weight: $font-weight--icons-solid; }
.icon-inquiry::before { content: '\f059'; font-weight: $font-weight--icons-solid; }
.icon-success::before { content: '\f058'; font-weight: $font-weight--icons-solid; }
.icon-danger::before { content: '\f06a'; font-weight: $font-weight--icons-solid; }

.icon-email::before { content: '\f0e0'; font-weight: $font-weight--icons-solid; }
.icon-phone::before { content: '\f095'; font-weight: $font-weight--icons-solid; }
.icon-site::before { content: '\f0ac'; font-weight: $font-weight--icons-solid; }

.icon-cart::before { content: '\f07a'; font-weight: $font-weight--icons-solid; }
.icon-pricing::before { content: '\F4D3'; font-weight: $font-weight--icons-solid; }
.icon-shipping::before { content: '\f0d1'; font-weight: $font-weight--icons-solid; }
.icon-delivered::before { content: '\f46c'; font-weight: $font-weight--icons-solid; }

.icon-search::before { content: '\f002'; font-weight: $font-weight--icons-solid; }
.icon-zoom::before { content: '\f00e'; font-weight: $font-weight--icons-solid; }
.icon-file::before { content: '\f15b'; font-weight: 400; }
.icon-send::before { content: '\f1d8'; font-weight: $font-weight--icons-solid; }
.icon-print::before { content: '\f02f'; font-weight: $font-weight--icons-solid; }
.icon-rating::before { content: '\f005'; font-weight: $font-weight--icons-solid; }
.icon-rating-half::before { content: '\f089'; font-weight: $font-weight--icons-solid; }

.icon-add::before { content: '\f055'; font-weight: $font-weight--icons-solid; }
.icon-remove::before { content: '\f056'; font-weight: $font-weight--icons-solid; }
.icon-edit::before { content: '\f044'; font-weight: $font-weight--icons-solid; }
.icon-update::before { content: '\f021'; font-weight: $font-weight--icons-solid; }

.icon-favorite::before { content: '\f005'; font-weight: $font-weight--icons-solid; }
.icon-history::before { content: '\f1da'; font-weight: $font-weight--icons-solid; }
.icon-best-seller::before { content: '\f091'; font-weight: $font-weight--icons-solid; }
.icon-gift::before { content: '\f06b'; font-weight: $font-weight--icons-solid; }

.icon-checking::before { content: '\f53c'; font-weight: $font-weight--icons-solid; }
.icon-credit-card::before { content: '\f09d'; font-weight: $font-weight--icons-normal; }
.icon-dollar-sign::before { content: '\f155'; font-weight: $font-weight--icons-solid; }

.icon-savings::before { content: '\F4D3'; font-weight: $font-weight--icons-solid; }
.icon-speed::before { content: '\f48b'; font-weight: $font-weight--icons-solid; }

.icon-locked::before { content: '\f023'; font-weight: $font-weight--icons-solid; }
.icon-unlocked::before { content: '\f09c'; font-weight: $font-weight--icons-solid; }
.icon-speed::before { content: '\f48b'; font-weight: $font-weight--icons-solid; }

.icon-visible::before { content: '\f06e'; font-weight: $font-weight--icons-solid; }
.icon-invisible::before { content: '\f070'; font-weight: $font-weight--icons-solid; }

.icon-radio::before { content: '\f111'; font-weight: $font-weight--icons-normal; }
.icon-radio-checked::before { content: '\f192'; font-weight: $font-weight--icons-solid; }
.icon-checkbox::before { content: '\f0c8'; font-weight: $font-weight--icons-normal; }
.icon-checkbox-checked::before { content: '\f14a'; font-weight: $font-weight--icons-solid; }

.icon-blockquote-deco::before { content: '\f10d'; font-weight: $font-weight--icons-solid; }

.icon-order-delivered::before { content: '\f16b'; font-weight: $font-weight--icons-brand; }
.icon-hourglass::before { content: '\f254'; font-weight: $font-weight--icons-solid; }
.icon-box::before { content: '\f466'; font-weight: $font-weight--icons-solid; }
.icon-warning::before { content: '\f071'; font-weight: $font-weight--icons-solid; }
.icon-star::before { content: '\f005'; font-weight: $font-weight--icons-solid; }
.icon-store-alt::before { content: '\f54f'; font-weight: $font-weight--icons-solid}
.icon-list::before { content: '\f03a'; font-weight: $font-weight--icons-solid}
.icon-calendar::before { content: '\f073'; font-weight: $font-weight--icons-solid}
.icon-signal::before { content: '\f012'; font-weight: $font-weight--icons-solid}
.icon-filter::before { content: '\f0b0'; font-weight: $font-weight--icons-solid}
.icon-cart-plus::before { content: '\f217'; font-weight: $font-weight--icons-solid}
.icon-plus-circle::before { content: '\f055'; font-weight: $font-weight--icons-solid}
.icon-angle-left::before { content: '\f104'; font-weight: $font-weight--icons-solid}
.icon-check::before { content: '\f00c'; font-weight: $font-weight--icons-solid}