th {
  padding: $s10 $s12;
  background-color: $color--blue-20;
  color: $color--primary;
  text-transform: uppercase;
  font-size: $s14;  
}
td {
  padding: $s16 $s12;
  background: $color--white;
}

// Styles
thead th,
thead td {
  vertical-align: bottom;
}

tbody th,
tbody td {
  vertical-align: top;
}

tfoot th,
tfoot td {
  vertical-align: top;
}

// Lines inside tbody
tbody tr:not(:last-of-type) th,
tbody tr:not(:last-of-type) td {
  border-bottom: $border--table;
}

// Line Above tfoot
//tfoot:not(:first-child) {
//  & tr:first-of-type th,
//  & tr:first-of-type td {
//    border-top: $table--heavy-line;
//  }
//}

