table.container {
  @include container-glow;
  margin: $s32 0
}

.summaryTable {
  border-top: $border--table;
  padding: $s16 0 $s24;
  margin: $s24 0;
  // Footer is broken out separatelly to allow for border spacing (and not force column wrapping on main table)
  &-footer {
    margin-top: $s24;
    padding-top: $s24;
    border-top: $border--table;
  }
  table tbody tr, table tfoot tr {
    td {
      border: none;
      padding: $s8/4 0;
      &:last-child {
        text-align: right;
      }
    }
    &.summaryTable-subItem {
      td:first-child {
        padding-left: $s16;
      }
    }
    &.summaryTable-rollup {
      font-weight: $font-weight--primary-bold;
      td {
        padding-top: $s16/2;
        padding-bottom: $s16/2;
      }
      td:first-child {
        padding-left: $s16;
        &::before {
          @extend .icon-chevron-right;
          position: absolute;
          top: $s12;
          left: 0;
          width: $s12;
          height: $s12;
        }
      }
      .summaryTable-count {
        font-weight: normal;
      }
      &--expanded {
        td:first-child {
          &::before {
            transform: rotate(90deg);
          }
        }
      }
    }
    
  }
}

th {
  background-color: $background-color--extra-light;
  padding: $s10 $s12;
  text-transform: uppercase;
  font-size: $s14;  
  font-weight: normal;
}
td {
  padding: $s24 $s12;
  background: $color--white;
}

// Styles
thead  {
  th, td {
    vertical-align: bottom;
  }
}

thead,
tfoot {
  display: table-row-group;
}

table.withControls {  
  thead {
    @include desktop-breakpoint {
      &.tablet {
        display: none;
      }
      &.desktop {
        th, td {
          background-color: $color--blue-20;  
          color: $color--primary;
        }    
      }
    }
    @include tablet-breakpoint {
      th, td {
        background-color: $color--white;  
        border: $border--light;
      }    
      &.desktop {
        display: none;
      }
      th.withMenu {
        padding: 0;        
      }
      .menu {
        width: 100%;
        &-label, &-body {
          width: 100%;          
          border-radius: unset;
        }
        &-body {
          top: calc(100% + 1px);
        }
      }
    }
  }
}

tbody th,
tbody td {
  vertical-align: top;
}

tfoot th,
tfoot td {
  vertical-align: top;
}

// Lines inside tbody
tbody tr:not(:last-of-type) th,
tbody tr:not(:last-of-type) td {
  border-bottom: $border--table;
}

// Line Above tfoot
//tfoot:not(:first-child) {
//  & tr:first-of-type th,
//  & tr:first-of-type td {
//    border-top: $table--heavy-line;
//  }
//}

.tableToggle {
  list-style: none;
  display: flex;
  margin: 0; padding: 0;
  width: 100%;
  @include container-glow;
  height: 50px;
  &-item {
    cursor: pointer;
    flex-grow: 1;
    margin: 0;
    padding:  $s8 $s20;
    display: flex;
    align-items: center;

    &::before {
      @extend .icon;
      @extend .icon-radio;
      display: inline-block;
      margin-right: $s20;
    }
    &--selected {
       &::before {
        @extend .icon-radio-checked;
       }
    }
    @include desktop-breakpoint {
      border-right: $border--table;
      &:last-child {
        border: none;
      }
    }
 
  }
  &-label {
    @extend .details1;
    font-weight: 600;
    display: block;
  }
  &-count {
    margin-left: $s8 /2 ;
    font-weight: normal
  }
  &-details {
    @extend .details2;
  }
}
@include tablet-breakpoint {
  .tableToggle {
    height: 59px;
    margin: $s32 0 $s24;
    box-shadow: unset;      
    background: transparent;
    &-item, &-item {
      @include border-radius;
      background: white;
      border: $border--light;
      margin: 0 $s8;
      text-align: center;
      &::before {
        display: none; 
      }        
      &--selected, &--selected {
        border-color: $color--primary;
        background-color: $color--blue-20;
      }
    }
    &-itemContent {
      width: 100%;
    }
  }    
}
