@mixin btn--sized {
  padding-left: $s16;
  padding-right: $s16;
  display: inline-block;
  width: auto;
}

@mixin btn--xSmall {
  font-size: $s10;
  .icon::before {
    height: $s10;
    font-size: $s10;
  }
  padding-top: $s10;
  padding-bottom: $s10;  
}

@mixin btn--small {
  font-size: $s14;
  padding-top: $s8;
  padding-bottom: $s8;      
  .icon::before {
    height: $s14;
    font-size: $s14;
  }
}

@mixin btn--medium {
  padding-top: $s12;
  padding-bottom: $s12;
  font-size: $s16;    
  .icon::before {
    height: $s16;
    font-size: $s16;
  }

}

@mixin btn--large {
  font-size: $s20;
  padding-top: $s14;
  padding-bottom: $s14;
  .icon::before {
    height: $s20;
    font-size: $s20;
  }
}

@mixin btn--primary {
  color: $color--white;
  background: $color--blue-50;
  &:hover:not(:disabled), 
  &:focus:not(:disabled) {
    background: $color--blue-40;
  }
  &:active:not(:disabled) {
    background: $color--blue-60;
  }
}

@mixin btn--secondary {
  color: $color--white;
  background: $color--green-50;
  &:hover:not(:disabled), 
  &:focus:not(:disabled) {
    background: $color--green-40;
  }
  &:active:not(:disabled) {
    background: $color--green-60;
  }
}

@mixin btn--disabled {
  color: $color--white;
  cursor: auto;
  background: $color--gray-30;
  text-decoration: none;
  &:hover:not(:disabled), 
  &:focus:not(:disabled) {
    background: $color--gray-30;
  }
  &:active:not(:disabled) {
    background: $color--gray-30;
  }
}


@mixin btn {
  display: block;
  width: 100%;
  
  // default to "large" buttons
  font-size: $s20;
  .icon::before {
    height: $s20;
    font-size: $s20;
  }
  padding: $s14 0;
  
  &--sized, &.btn-tight {
    @include btn--sized;
  }
  border: none;
  @include border-radius;
  margin: 0;
  
  box-shadow: none;
  outline: none;

  color: $color--body-text;
  line-height: 1em;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  white-space: nowrap;

  transition: background-color .3s,
              opacity .3s;
  cursor: pointer;
  user-select: none;
  touch-action: manipulation;
  -webkit-appearance: none;

  background: $color--gray-20;
  &:hover:not(:disabled), 
  &:focus:not(:disabled) {
    background: $color--gray-30;
    text-decoration: none;
  }
  &:active:not(:disabled) {
    background: $color--gray-50;
    text-decoration: none;    
  }

  &--primary, &.btn-primary {
    @include btn--primary;
  }
  
  &--secondary, &.btn-secondary {
    @include btn--secondary;
  }
  
  &:disabled, &--disabled {
    @include btn--disabled;    
  }
  
  &--xSmall, &.btn-xs {
    @include btn--xSmall;
  }
  &--small, &.btn-sm {
    @include btn--small;
  }
  &--medium, &.btn-md {
    @include btn--medium;
  }
  &--large, &.btn-lg {
    @include btn--large;
  }
}

@mixin btn--outline--primary {
  color: $color--blue-50;
  border-color: $color--blue-50;
  &:hover:not(:disabled), 
  &:focus:not(:disabled) {
    background: rgba($color--blue-20, 0.5);
  }
  &:active:not(:disabled) {
    background: $color--blue-20;
  }
}

@mixin btn--outline {
  border: 1px solid $color--gray-50;
  background: $color--white;
  
  &:hover:not(:disabled), 
  &:focus:not(:disabled) {
    background: $color--gray-20;
    text-decoration: none;
  }
  &:active:not(:disabled) {
    background: $color--gray-30;
    text-decoration: none;    
  }  
  &--primary, &.btn--primary, &.btn-minor-primary {
    @include btn--outline--primary;
  }
  
  &--secondary, &.btn--secondary, &.btn-minor-secondary {
    color: $color--green-50;
    border-color: $color--green-50;
    &:hover:not(:disabled), 
    &:focus:not(:disabled) {
      background: rgba($color--green-20, 0.5);
    }
    &:active:not(:disabled) {
      background: $color--green-20;
    }
  }
  &:disabled, &.btn--disabled {
    border-color: $color--body-text--secondary;
    color: $color--body-text--secondary;
    background: $color--white;
    &:hover:not(:disabled), 
    &:focus:not(:disabled) {
      background: $color--white;
    }
    &:active:not(:disabled) {
      background: $color--white;
    }  
  }
}