@mixin border-radius {
  border-radius: 4px;
}

@import 'mixins/containers-mixins';
@import 'mixins/button-mixins';

/* --- Icons --- */
@mixin symbol($_icon) {
  &:before {
    content: $_icon;
    display: inline-block;
    font-family: $font-family--icons;
    font-style: normal;
    font-weight: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}


/* TODO - the below are older mixins and should probably be refactored away */
@mixin set-breakpoint($min-width) {
  @media (min-width: $min-width) {
    @content;
  }
}

@mixin set-range($min-width, $max-width) {
  @media only screen and (min-width: $min-width) and (max-width: $max-width) {
    @content;
  }
}

@mixin inputBorder() {
  border: 2px solid transparent;
  border-bottom-color: #ccc;
}

@mixin boxShadow() {
  -webkit-box-shadow: 0px 0px 5px 0px rgba($color--gray-90, 0.25);
  -moz-box-shadow: 0px 0px 5px 0px rgba($color--gray-90, 0.25);
  box-shadow: 0px 0px 5px 0px rgba($color--gray-90, 0.25);
  
}