@mixin border-radius {
  border-radius: 4px;
}

@import 'mixins/icon-mixins';
@import 'mixins/container-mixins';
@import 'mixins/button-mixins';
@import 'mixins/form-mixins';

@mixin tablet-breakpoint {
  @media (max-width: $breakpoint-tablet--max) {
    @content
  }
}

/* TODO - the below are older mixins and should probably be refactored away */
@mixin set-breakpoint($min-width) {
  @media (min-width: $min-width) {
    @content;
  }
}

@mixin set-range($min-width, $max-width) {
  @media only screen and (min-width: $min-width) and (max-width: $max-width) {
    @content;
  }
}


@mixin boxShadow() {
  -webkit-box-shadow: 0px 0px 5px 0px rgba($color--gray-90, 0.25);
  -moz-box-shadow: 0px 0px 5px 0px rgba($color--gray-90, 0.25);
  box-shadow: 0px 0px 5px 0px rgba($color--gray-90, 0.25);
  
}