@mixin border-radius {
  border-radius: $border-radius;
}

@mixin space-modifiers {
  &--spaceLeft {
    margin-left: $s8;
  }
  &--spaceRight {
    margin-right: $s8;
  }
  &--spaceTop {
    margin-top: $s8;
  }
  &--spaceBottom {
    margin-bottom: $s8;
  }
}

@import 'mixins/button-mixins';
@import 'mixins/container-mixins';
@import 'mixins/form-mixins';
@import 'mixins/icon-mixins';
@import 'mixins/responsive-mixins';
@import 'mixins/typography-mixins';
