// Color Constants (Not for use outside this file, variable names subject to change)
$color--gray-300:   #333;
$color--gray-600:   #888;
$color--gray-800:   #ccc;
$color--gray-900:   #f2f2f2;
$color--white:      #fff;
$color--orange-400: #ff4f2c;
$color--teal-400:   #1994c9;
$color--green-400:  #0dba52;
$color--yellow-400: #f7d410;

// Semantic Colors (Please use these)
$color--primary:          $color--orange-400;
$color--secondary:        $color--teal-400;
$color--tertiary:         $color--green-400;
$color--quaternary:       $color--yellow-400;
$color--dark:             $color--gray-300;
$color--muted:            $color--gray-600;
$color--muted-light:      $color--gray-800;
$color--light:            $color--gray-900;
$color--bright:           $color--white;

$color--info:             $color--teal-400;
$color--success:          $color--green-400;
$color--danger:           $color--orange-400;

$color--savings:          $color--green-400;
$color--favorite:         $color--yellow-400;



/* --- Variables --- */

$font-family--primary:        'Open Sans', sans-serif;
$font-weight--primary-normal: 400;
$font-weight--primary-bold:   600;

$font-family--secondary:      'Montserrat', sans-serif;
$font-weight--secondary-bold: 600;

$font-family--icons:          'FontAwesome';
$font-weight--icons-brand:    100;
$font-weight--icons-normal:   400;
$font-weight--icons-solid:    900;

$font-size--base:        18px;
$font-size--base-narrow: 16px;
$line-height--base:      1.4;
$line-height--lose:      1.6;
$font-size--level: (
  -1: 1rem * 0.75,
   0: 1rem * 1,
   1: 1rem * 1.3333,
   2: 1rem * 1.7777,
   3: 1rem * 2.3705,
   4: 1rem * 3.1605,
   5: 1rem * 4.2140
);


// Breakpoints (*Note: prefer to use Breakpoint component to make responsive decisions instead)
$XS: 0px;
$SM: 576px;
$MD: 768px;
$LG: 992px;
$XL: 1200px;


