
.badge, .badgeStep {
  padding: 0 6px;
  cursor: default;
  @extend .details1; //s14
  @extend .styleAs-strong; //bold  
  min-width: $s20;
  height: $s20;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: $s20;
  background-color: $color--primary-active;
  color: $color--white;
  line-height: 1;
  
  &--muted-light {
    background-color: $background-color--medium;
  }
}

.badgeStep {
  background-color: $color--secondary;
  min-width: $s40;
  min-height: $s40;
  font-size: $s24;
  font-weight: 600;
  margin-left: $s14;
  margin-bottom: $s14;
  &--small {
    font-size: $s20;
    min-width: $s32;
    min-height: $s32;
  }
  &--muted-light {
    background-color: $background-color--medium;
  }
}