button,
.btn,
.styleAs-button {
  @include btn
}

// Outlined - Medium emphasis. These should all also have the standard .btn classname as well.
.btn-minor, .btn-outline, .btn--outline {
  @include btn--outline;
}




.btn-blue {
  background-color: $color--secondary;
  border-color: transparent;
  color: $color--bright;
}

.btn-blue:hover:not(:disabled),
.btn-blue:focus:not(:disabled) {
  background-color: darken($color--secondary, 15%);
}

//.btn-minor-alt {
//  background: $color--bright;
//  border-color: transparent;
//  color: $color--body-text--secondary;
//}
//
//.btn-minor-alt:hover:not(:disabled),
//.btn-minor-alt:focus:not(:disabled) {
//  background-color: darken($color--light, 5%);
//}

.btn-muted {
  background: $color--body-text--secondary;
  border-color: transparent;
  color: #000;
}

.btn-muted:hover:not(:disabled),
.btn-muted:focus:not(:disabled) {
  background-color: darken($color--body-text--secondary, 5%);
}


// TODO: I believe this is only used for the LoadMoreButton component - should probably be renamed to be more specific.
.spinner {
  &::before {
    @extend .icon;
    @extend .icon-loading;
    @extend .icon--spin;
    @extend .icon--color-muted;
  }
}