$card-min-width: 240px;
$card-max-width: 520px;
$card-count: 5;

.cardGrid, .card-grid, .catalog-grid {
  padding: 0;
  grid-gap: $s20 $s20;
  gap: $s20 $s20;
  display: grid;
  vertical-align: top;
  grid-template-columns: repeat(auto-fill, minmax($card-min-width, 1fr));
  width: 100%;
  @include tablet-breakpoint {
    display: block;
  }
}


.scrollContainer {
  &-arrow {
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: -$s10;
    transform: translateY(-50%);
    &--left {
      &::before {
        @extend .icon-carousel-chevron-left;
      }
    }
    &--right {
      left: auto;
      right: -$s10;
      &::before {
        @extend .icon-carousel-chevron-right;
      }
    }
  }
}

.scrollContainer-scrollArea--directionX {
  overflow: hidden;
  overflow-x: scroll;
  width: 100%;

  .cardGrid, .card-grid, .catalog-grid {
    display: inline-grid;
    grid-auto-flow: column;
    grid-template-rows: auto;
    grid-auto-columns: $card-min-width;
    grid-template-columns: unset;
    width: 100%;    
    @include tablet-breakpoint {
      display: block;
    }
  }
}

$card-img-height: 144px;
$card-top-padding: 10px;
$card-padding: $card-top-padding $s14 $s14;
$card-header-height: 50px - $card-top-padding;
$card-height: 400px;
$card-body-height: $card-height - ($card-top-padding + $s14) - $card-img-height - $card-header-height;
.card {
  @include container-glow;
  @include tablet-breakpoint {
    box-shadow: unset;
    border-bottom: $border--light;
    
  }
  background: $color--white;
  padding: $card-padding;
  &-overlay {
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    &:before {
      position: absolute;
      top: 0; left: 0; right: 0; bottom: 0;
      content: "";
      display: block;
      background-color: $background-color--light;
      opacity: 0.4;
    }
    &--white {
      &:before {
        background-color: $color--white;
        opacity: 0.9;
      }
    }
    &:not(.card-overlay--adder) {
      @include tablet-breakpoint {
        &:before {
          background-color: $background-color--light;
          opacity: 0.4;          
        }
        .card-overlayContent {
          align-items: flex-end;
          justify-content: flex-end;
          .btn {
            width: 200px;
          }
          
        }
      }
    }
    .card-overlayContent {
      position: absolute;
      top: 0; left: 0; right: 0; bottom: 0;
      padding: $s20;
      @include tablet-breakpoint {
        padding-bottom: $s8;
      }
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      > * {
        margin-bottom: $s10;
        &:last-child {
          margin-bottom: 0;
        }
      }
      h6 {
        margin-bottom: $s16;
      }
    }
  }

}
.catalogProduct, .catalogProduct-ctr {
  height: $card-height;
  
  .icon-cart-plus, .icon-favorite {
    cursor: pointer;
  }
  &-header {
    height: $card-header-height;
    display: flex;
    align-items: center;
    @include tablet-breakpoint {
      height: auto;
    }
  }
  &-flags {
    margin: 0 $s8;
    flex-grow: 1;
  }
  &-image, &-imageCtr {
    cursor: pointer;
    width: 100%;
    img {
      height: $card-img-height;
      width: 100%;
      object-fit: contain;
    }
  }
  &-body {
    height: $card-body-height
  }

  &-viewDetails {
    @extend .details2;
    @extend .text--muted;
    margin-top: 3px;
  }
  .details2 {
    cursor: pointer;    
  }

  .product{
    &-title {
      cursor: pointer;
      margin-top: 12px; //Custom spacing for product cards
      max-height: $line-height--base * 3;// 3 lines
      overflow: hidden;
      text-overflow: ellipsis;
      // TODO: https://css-tricks.com/line-clampin/
    }
    &-manufacturer {
      cursor: pointer;
      margin-top: 4px;
    }
    
    &-prices {
      margin-top: 8px; //Custom spacing for product cards
    }
  }
}

@include tablet-breakpoint {
  @include mobile-card-layout;  
}
