.section-label, .container {
  margin: $s24 0;
  &:first-child {
    margin-top: 0;
  }
  &:last-child {
    margin-bottom: 0;
  }
  /// All h1-3 get cetnered, h4 & below can be left aligne
  h1, .styleAs-h1, h2, .styleAs-h3, h3, .styleAs-h3 {
    //text-align: center;
  }  
}

.container {
  //TODO: not sure what a general container should do
  
  //maybe?
  padding: $s14;
  background-color: $color--white;


  // Note that these are available for general use. But they shold be avoided in favor of cards, tooltips and other components
  // that use these stylings.
  
  // For all general containers/cards
  @include container-glow;


  // For accordion headers
  &--shadow {
    @include container-shadow;
  }
  
  // For tooltips
  &--round {
    @include container-border
  }
  
  &--transparent {
    background-color: transparent;
  }
  
  &--expandable {
    padding: 0;
    .container-header {
      @include container-shadow;
      margin: 0;
      padding: $s14;
      cursor: pointer;
      &::before {
        // don't start with up/down because then transforms need to be re-produced
        @extend .icon-chevron-right;
        position: absolute;
        top: 50%;
        right: $s32;
        transform: translateY(-50%) rotate(90deg);
      }
      
    }
    .container-body {
      display: none;
      padding: $s14 $s14;
    
    }
    &.container--expanded {
      .container-header {
        &::before {
          transform: translateY(-50%) rotate(-90deg) ;
        }
      }
      .container-body {
        display: block;
      }
    }
  }
}


