.section-label, .container {
  margin: $s24 0;
  &:first-child {
    margin-top: 0;
  }
  &:last-child {
    margin-bottom: 0;
  }
}

.container {
  padding: $s32 $s24;
  @include tablet-breakpoint {
    padding-left: $s10;
    padding-right: $s10;
  }
  background-color: $color--white;


  &-section {
    margin-top: $s24;
    margin-bottom: $s24;
    &:first-child {
      margin-top: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }

  // Note that these are available for general use. But they shold be avoided in favor of cards, tooltips and other components
  // that use these stylings.
  
  // For all general containers/cards
  @include container-glow;


  // For accordion headers
  &--shadow {
    @include container-shadow;
  }
  
  // For tooltips
  &--round {
    @include container-border
  }
  
  &--transparent {
    background-color: transparent;
  }
  
  &--expandable {
    padding: 0;
    .container-header {
      @include container-shadow;
      margin: 0;
      padding: $s32 $s24;
      cursor: pointer;
      &::before {
        // don't start with up/down because then transforms need to be re-produced
        @extend .icon-chevron-right;
        position: absolute;
        top: 50%;
        right: $s32;
        transform: translateY(-50%) rotate(90deg);
      }
      
    }
    .container-body {
      display: none;
      padding: $s32 $s24;      
    }
    &.container--expanded {
      .container-header {
        &::before {
          transform: translateY(-50%) rotate(-90deg) ;
        }
      }
      .container-body {
        display: block;
      }
    }
    @include tablet-breakpoint {
      .container-header {
        padding: $s40 $s10;
      }
      .container-body {
        padding: $s40 $s10;   
      }
    }
  }
}


