.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-button {
  cursor: pointer;
}

.dropdown-content {
  position: absolute;
  top: 100%;
  left: 0;
  min-width: 150px;
  padding: 10px;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: inset 0 0 0 2px #f2f2f2;
  z-index: 1050;

  &.dropdown-content--right {
    left: unset;
    right: 0;
  }

  &.dropdown-content--overlap {
    top: -10px;
    left: -10px;
  }

  &.dropdown-content--overlap.dropdown-content--right {
    left: unset;
    right: -10px;
  }
}

.menu {
  position: relative;
  &-label {
    cursor: pointer;
  }
  &-body {
    min-width: 100%;
    position: absolute;
    right: 0;
    top: 100%;
    border: $border-light;
    background: $color--white;
    display: none;
  }
  &-section {
    border-top: $border-light; 
  }
  &-item {
    display: block;
    @extend .styleAs-a;
    padding: $s12;
    padding-top: ($s32 - ($line-height--base - $font-size--base))/2;
    padding-bottom: ($s32 - ($line-height--base - $font-size--base))/2;
    
    
    &:hover, &:active {
      background: $color--blue-20;
      text-decoration: none;
      font-weight: bold;
    }
    
    &:first-child {
      padding-top: $s24 - ($line-height--base - $font-size--base);
    }
    &:last-child {
      padding-bottom: $s24 - ($line-height--base - $font-size--base);
    }
    
    &--header, &--header:hover, &--header:active {
      background: none;
      cursor: default;
    }
  }
  &--withIcons {
    .menu-item {
      padding-left: 52px;
    }
  }
  
  &--hoverable {
    .menu-body {
      border-top: none;
      top: calc(100% - 1px);      
    }
  }
  
  &--expanded, &--hoverable:hover {
    .menu-body {
      display: block;
    }
  }
  
}