
.flag {
  @extend .details3; //font s10
  @extend .styleAs-strong; //bold  
  line-height: 1;
  height: $s16;
  margin: ($line-height--base - $s16) / 2;
  margin-left: 0;
  &:last-child {
    margin-bottom: 0;
  }
  &:first-child {
    margin-top: 0;
  }
  padding: $s8/2 $s8; //TODO nonstandard OK?
  display: table; //block line wrapping w/out 100% width;
  @include tablet-breakpoint {
    display: inline-flex;
  }
  align-items: center;
  cursor: default;
  
  &--preferred {
    color: $color--secondary;
    background: $color--green-20;
  }
  &--purchasedBefore {
    color: $color--primary;
    background: $color--blue-20;
  }

  &--bestSeller {
    color: $color--purple-50;
    background: $color--purple-20;
  }

  &--promo {
    color: $color--orange-50;
    background: $color--yellow-20;
  }

  position: relative;
  &:hover {
    .tooltip {
      display: block
    }
  }
}