.modal {
  display: none;
  &--open {
    display: block;
  }
  position: fixed;
  top: $s40;
  left: $s40;
  right: $s40;
  max-height: calc(100vh - #{$s40 + $s16});
  overflow-y: scroll;
  z-index: 1000;
  &::before {
    content: "";
    display: block;
    z-index: 999;
    position: fixed; top: 0; bottom: 0; left: 0; right: 0;
    background: rgba(0, 0, 0, .7);
    -webkit-overflow-scrolling: initial;
    @include tablet-breakpoint {
      -webkit-overflow-scrolling: touch !important;
      height: calc(var(--vh, 1vh) * 100);
    }
  }
  &-body {
    z-index: 1000;
    background: $color--white;
    padding: $s24;
    @include tablet-breakpoint {
      padding: $s40 $s24;      
    }
  }
  &-closer {
    position: absolute;
    z-index: 1055;
    top: $s24;
    right: $s24;
    display: block;
    cursor: pointer;

    @extend .icon;
    @extend .icon-close;
    @include desktop-breakpoint {
      //equal to  @extend .icon-close--small;
      &::before {
        width: 24px;
        height: 24px;
      }
    }
  
    &:hover,
    &:focus {
      color: $color--body-text;
    }
  }
}


// NOTE: This type of thing will need to be set up for each modal type
.productInfoModal {
  &-productName {
    margin-bottom: $s8;
  }
  &-mfrInfo {
    padding-bottom: $s10;
    border-bottom: $border--light;
    margin-bottom: $s16;
  }

  &-selectedVariant {
    font-weight: 600;
    margin-bottom :$s8;
  }
  &-variantSelector {
    .variantBtn {
      margin-bottom: $s16;
    }
    margin-bottom: $s8;
  }
  &-recentlyOrdered {
    font-weight: 600;
    margin-bottom: $s8;
    .flag {
      display: inline-flex;
    }
  }
  .product {
    &-prices {
      margin: 8px 0;      
    }
    &-price--torch {
      font-size: $s20;
      font-weight: normal;
    }
  }
  &-addToListCard {
    margin-top: $s24;      
    .card {
      padding-top: $s24;
    }
    .addProductControls {
      margin-top: $s32;
      margin-bottom: $s16;
    }
  }
  &-productDetails {
    margin-top: $s32;
  }
  .productDetails {
    &-header {
      @extend .styleAs-h6;
      font-weight: 600;
      margin-bottom: $s8;
    }
    ul {
      margin: $s8 0;
    }
  }
}