.notification {
  @include btn;
  @include btn--medium;
  @include btn--sized;
  @include container-glow;
  cursor: default;
  line-height: $line-height--base;
  text-transform: none;
  width: auto;
  color: $color--primary;
  background-color: $color--blue-20;
  display: flex;
  text-align: center;
  justify-content: center;
  padding-left: $s8;
  padding-right: $s8;
  .icon:first-child {
    margin-right: $s8
  }
  &:hover, &:active {
    color: $color--primary;
    background-color: $color--blue-20;
    &:not(:disabled) {
      color: $color--primary;
      background-color: $color--blue-20;  
    }
  }
  font-weight: bold;
  

  &--left {
    text-align: left;
    justify-content: flex-start;
  }
  &--success {
    color: $color--secondary;
    background-color: $color--green-20;
    &:hover, &:active {
      color: $color--secondary;
      background-color: $color--green-20;
      &:not(:disabled) {
        color: $color--secondary;
        background-color: $color--green-20;
      }
    }
  }
  
  &--warning {
    color: $color--body-text;
    background-color: $color--yellow-20;
    font-weight: normal;
    &:hover, &:active {
      color: $color--body-text;
      background-color: $color--yellow-20;
      &:not(:disabled) {
        color: $color--body-text;
        background-color: $color--yellow-20;    
      }
    }
  }
  &--error {
    color: $color--danger;
    background-color: $color--berry-20;
    &:hover, &:active {
      color: $color--danger;
      background-color: $color--berry-20;
      &:not(:disabled) {
        color: $color--danger;
        background-color: $color--berry-20;    
      }
    }
  }
}
