
.itemStatus {
  @include btn;
  cursor: default;
  text-transform: none;
  background: $color--white;
  &:hover, &:active {
    background: $color--white;  
    &:not(:disabled) {
      background: $color--white;        
    }
  }
  
  font-weight: bold;
  line-height: $line-height--base;
  
  @include tablet-breakpoint {
    width: 200px;
  }

  &--unavailable {
    @include btn--medium;
    color: $color--body-text--secondary;    
    &:hover, &:active {
      color: $color--body-text--secondary;    
    }  
  }

  &--inList {
    @include btn--small;
    color: $color--secondary;  
    &:hover, &:active {
      color: $color--secondary;  
    }  

  }
}